<!doctype html>
<html lang="en">
<link rel="stylesheet" href="/styles.css">

<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>

<div class="messages-wrapper">
    <% messages.forEach((mes , i) => { %>
        <div class="message-card">
            <div><strong>Name:</strong> <%= mes.user %></div>
            <div><strong>Message:</strong> <%= mes.text %></div>
            <div><strong>Date:</strong> <%= mes.added %></div>
            <a class="open-btn" href="/message/<%=i%>">Open</a>
        </div>
    <% }) %>
</div>

<div id="add_message">
    <a href="/new" style="text-decoration:none;color:white;">Add message</a>
</div>

</body>
</html>
